<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CVGLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CVGLauncher.Properties.Settings>
            <setting name="window" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hyperthreading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="extraThreads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="extraThreads_fileOps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="extraThreads_geoLoading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="extraThreads_texLoading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cpuCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cpuCountNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="malloc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mallocDir" serializeAs="String">
                <value />
            </setting>
            <setting name="maxVRAM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxVRAMValue" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="maxRAM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxRAMValue" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="a3Path" serializeAs="String">
                <value />
            </setting>
            <setting name="ts3Path" serializeAs="String">
                <value />
            </setting>
        </CVGLauncher.Properties.Settings>
    </userSettings>
</configuration>